.lu-login-bg {
  position: relative;
}

.lu-login-cover {
  background: #070707;
  opacity: 0.5;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 2;
}

.lu-login-bg-img {
  background-image: url('../../assets/img/bg.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.lu-login-logo {
  width: 150px;
  border-radius: 6px;
  margin-bottom: 80px;
}

.lu-login-cont {
  z-index: 3;
  background: #fff;
  width: 400px;
  height: 460px;
  position: absolute;
  top: 100px;
  left: calc(50% - 200px);
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.lu-login-input {
  width: 300px;
  height: 40px;
}

.lu-login-btn {
  width: 300px;
  height: 40px;
  border-radius: 6px;
  margin-top: 16px;
  background: #1d953f;
  border: #1d953f;
}